body {
	background-color: hotpink;
}
main {
	background-image: url('../images/bacgrArt1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 390px;
	margin: 0 0 0 0;
	color: white;
}
#fstname {
	text-align: center;
}
#mypic1 {
	text-align: center;
	text-shadow: 0em;
}
/* nav{ 
max-width:924px;
margin: 0 auto;
margin-right: 0%;
display:flex;
justify-content: space-between;
}*/
nav ul {
	list-style-type: none;
	list-style-position: outside;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
nav ul li {
	width: 300px;
	text-align: center;
}
nav ul li a {
	text-decoration: none;
	color: green;
	left: 650px;
	top: 200px;
}
nav ul li a:hover {
	background-color: pink;
	color: hotpink;
}
@media only screen and (max-width: 480px) {
	body {
		width: 200px;
		padding: 0px;
	}
}
#aboutMess {
	padding-top: 100px;
	text-align: center;
	color: whitesmoke;
	background-color: maroon;
}
#whatIDO {
	padding-top: 100px;
	text-align: center;
	color: whitesmoke;
	background-color: maroon;
}
h1 {
	font-size: 80px;
}
p {
	font-size: 24px;
}
.myname {
	position: relative;
	bottom: 10px;
	font-size: 18px;
	justify-content: left;
	padding-left: 40px;
}
#aboutMEdesc {
	position: relative;
	bottom: 6px;
	font-size: 16px;
	justify-content: center;
	padding-left: 0px;
	padding-top: 50px;
	left: auto;
}
#whatIDO {
	position: relative;
	display: flex;
	flex-direction: column;
	bottom: -0px;
	font-size: 16px;
	padding-left: 0px;
	float: right;
	left: 12px;
}
#container {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}
#mypic {
	bottom: -0px;
	/* font-size: 16px; */
	padding-left: 0px;
	float: right;
	left: 7px;
	border-radius: 50%;
}
#work {
	background-color: bisque;
	padding: 390px 390px 500px 50px;
	margin: 0px;
}
a {
	text-decoration: none;
	color: whitesmoke;
}
#Proj1desc {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
}

#projct {
	position: relative;
	display: flex;
	flex-direction: column;
	bottom: -0px;
	font-size: 16px;
	padding-left: 40px;
	float: right;
	left: 60px;
	right: 20px;
	border-radius: 15px 50px 30px;
	background-color: chocolate;
}
#contact {
	justify-content: center;
	padding: 390px;
}
